<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Aula sobre partials</title>
  </head>
  <body>
    <div>
   <button class="btn">Clicar em mim</button>
   <p class="p-esp">Paragrafo especial</p>
   <p class="p-esp">Paragrafo especial</p>
   <p>Paragrafo normal</p>
   <h2>Especial</h2>
  </body>
</html>
